<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Solar Bách Thịnh - Đăng nhập</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{views/user/lib/link_lib}"></div>
</head>

<body>
<!-- Spinner Start -->
<div th:replace="~{views/user/components/spiner}"></div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div th:replace="~{views/user/components/topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{views/user/components/navbar}"></div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Đăng Nhập</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/trang-chu">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/dang-nhap">Đăng Nhập</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Login Form Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary">Solar Bách Thịnh</h6>
                    <h1 class="mb-4">Đăng Nhập</h1>
                    <p class="mb-4">Hãy tham gia cùng chúng tôi! Đăng ký để không bỏ lỡ những ưu đãi hấp dẫn.
                    </p>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Sai tên đăng nhập hoặc mật khẩu !</div>
                    </div>

                    <!-- from login -->
                    <div class="login border-end">
                        <div class="login__container">
                            <form th:action="@{/dang-nhap}"
                                  method="post"
                                  role="form"
                            >
                                <div class="mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="username" id="email">
                                    <p id="emailError" class="invalid-feedback"></p>
                                </div>

                                <div class="mb-3">
                                    <label for="password1">Mật Khẩu <span id="togglePassword1" class="eye-icon"><i
                                            class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password" class="form-control" name="password" id="password1">
                                    <p id="passwordError" class="invalid-feedback"></p>
                                </div>

                                <button type="submit" id="submit-button-login" class="signInButton">Đăng Nhập</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <div class=" d-flex justify-content-center flex-column h-100">
                        <p class="fs-4 mb-2">Bạn chưa có tài khoản ?</p>
                        <a href="/dang-ky" class="mb-3">Nhấn vào đây để đăng ký tài khoản</a>
                        <p class="fs-5 mb-2">Bạn muốn lấy lại mật khẩu ?</p>
                        <a href="/quen-mat-khau" class="mb-3">Nhấn vào đây để lấy lại mật khẩu</a>
                        <div class="d-grid gap-2 d-md-block">
                            <p class="fs-5 mb-2">Hoặc có thể đăng nhập với: </p>
                            <!-- Nút đăng nhập bằng Facebook -->
                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-outline-success mb-3">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <!-- Nút đăng nhập bằng Google -->
                            <a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/dang-nhap&response_type=code
    &client_id=636980262370-vmvistc4ins2e1e3k52polikokp1tkm0.apps.googleusercontent.com&approval_prompt=force"
                               class="btn btn-outline-success mb-3">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col-lg-8 border-right"></div>
    </div>
</div>
<!-- Login Form End -->


<!-- Footer Start -->
<div th:replace="~{views/user/components/footer}"></div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<div th:replace="~{views/user/lib/script_lib}"></div>

<!--validate form login front-end-->
<script src="/user/assets/js/auth/login-validate.js"></script>
</body>

</html>