<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Chỉnh sửa thông tin cá nhân</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/trang-chu">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/thong-tin">
                    Thay đổi thông tin</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Login Form Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-12 py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary mb-4">Solar Bách Thịnh</h6>
                    <h3 class="mb-4">CHỈNH SỬA THÔNG TIN CÁ NHÂN</h3>

                    <div class="card row" style="box-shadow: 2px 2px 2px">
                        <div class="col-12 card-body p-5">
                            <div class="row">
                                <div class="col-3 d-xs-none">
                                    <div class="img-profile">
                                        <img src="/user/assets/img/profile-logo.png" class="img-fluid rounded-top"
                                             width="60%" alt="">
                                    </div>
                                    <div class="link-profile">
                                        <h5 class="text-secondary"
                                            th:text="${customers.accountsByAccountId.fullname}">Lê Quang Nhựt
                                        </h5>
                                        <h5 class="text-secondary mt-2"
                                            th:text="'ID: '+ ${customers.accountsByAccountId.accountId}">Lê Quang Nhựt
                                        </h5>
                                        <div class="">
                                            <h5>
                                                <a style="color: #32C36C" href="/thong-tin"
                                                   class="fs-5 text-decoration-none">
                                                    Quay về trang trước
                                                </a>
                                            </h5>
                                        </div>
                                        <hr>
                                        <h6 class="text-secondary mt-2"
                                            th:text="'Tổng số lượng đơn hàng đã đặt: '+ ${sumOrder}">
                                        </h6>
                                        <h6 class="text-secondary mt-2" th:if="${sumOrderPrice}"
                                            th:text="'Tổng số tiền đã đặt hàng: '+ ${#numbers.formatDecimal(sumOrderPrice, 0, 'COMMA', 0, 'POINT') + ' đ'}">
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="profile-name">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 text-center">
                                                <h4 style="color: #808080;">Hồ sơ cá nhân</h4>
                                            </div>
                                        </div>
                                        <hr class="text-dark">
                                    </div>
                                    <div class="info mt-5">
                                        <form id="edit-form" onsubmit="return validateForm()"
                                              th:action="@{'/thong-tin/sua-thong-tin/' + ${customers.customerId}}"
                                              th:object="${customerDTO}" method="post">
                                            <div class="row">
                                                <h4 class="text-dark mb-3">Thông tin</h4>
                                                <div class="col-12 col-md-12 col-lg-4">
                                                    <div class="mb-3">
                                                        <label>Email</label>
                                                        <input type="email" class="form-control" id="email"
                                                               th:field="*{accountsByAccountId.email}"
                                                               th:value="${customers.accountsByAccountId.email}"
                                                               readonly>
                                                        <input type="hidden" class="form-control" id="idaccount"
                                                               th:field="*{accountId}"
                                                               th:value="${customers.accountId}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>Họ và tên</label><br>
                                                        <input type="text" class="form-control" id="fullname"
                                                               th:field="*{accountsByAccountId.fullname}"
                                                               th:value="${customers.accountsByAccountId.fullname}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>Số điện thoại</label><br>
                                                        <input type="tel" class="form-control" id="phoneNumber"
                                                               maxlength="10"
                                                               th:field="*{accountsByAccountId.phoneNumber}"
                                                               th:value="${customers.accountsByAccountId.phoneNumber}">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-12 col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="birth">Ngày sinh</label>
                                                        <input type="date" class="form-control" id="birth"
                                                               name="birthDay"
                                                               th:value="${#dates.format(customerDTO.birthDay, 'yyyy-MM-dd')}">
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('birthDay')}"
                                                              th:errors="*{birthDay}"></span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="gender">Giới Tính</label>
                                                        <select class="form-select" id="gender" th:field="*{gender}">
                                                            <option value="" selected>Chọn Giới Tính</option>
                                                            <option value="true"
                                                                    th:selected="${customerDTO.gender == true}">Nam
                                                            </option>
                                                            <option value="false"
                                                                    th:selected="${customerDTO.gender == false}">Nữ
                                                            </option>
                                                        </select>
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('gender')}"
                                                              th:errors="*{gender}"></span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="address-edit-customer">Địa chỉ cụ thể</label>
                                                        <input type="text" class="form-control"
                                                               id="address-edit-customer"
                                                               th:field="*{address}">
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('address')}"
                                                              th:errors="*{address}"></span>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-12 col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="city">Tỉnh Thành</label>
                                                        <select class="form-select" id="city" th:field="*{province}">
                                                            <option th:value="${customerDTO.province}"
                                                                    th:text="${customerDTO.province}"
                                                                    selected>Chọn Tỉnh Thành
                                                            </option>
                                                            <!-- Các tùy chọn cho Tỉnh Thành -->
                                                        </select>
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('province')}"
                                                              th:errors="*{province}"></span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="district">Quận/Huyện</label>
                                                        <select class="form-select" id="district"
                                                                th:field="*{district}">
                                                            <option id="districtOption"
                                                                    th:value="${customerDTO.district}"
                                                                    th:text="${customerDTO.district}"
                                                                    selected>Chọn Quận/Huyện
                                                            </option>
                                                            <!-- Các tùy chọn cho Quận/Huyện -->
                                                        </select>
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('district')}"
                                                              th:errors="*{district}"></span>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="ward">Phường/Xã</label>
                                                        <select class="form-select" id="ward" th:field="*{village}"
                                                                aria-label="Floating label select example">
                                                            <option th:value="${customerDTO.village}"
                                                                    th:text="${customerDTO.village}"
                                                                    selected>Chọn Phường/Xã
                                                            </option>
                                                            <!-- Các tùy chọn cho Phường/Xã -->
                                                        </select>
                                                        <span class="text-danger invalid-form"
                                                              th:if="${#fields.hasErrors('village')}"
                                                              th:errors="*{village}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Xác nhận</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form End -->