<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Thêm Danh Mục</title>
    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4 mt-2">Thêm danh mục sản phẩm</h5>
                    <div class="card">
                        <div class="card-body">
                            <form onsubmit="return validateForm()" method="post" enctype="multipart/form-data">

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name-edit-categorys" placeholder="...">
                                    <label for="name-edit-categorys">Tên doanh mục sản phẩm</label>
                                    <span class="text-danger" id="invalid-name-edit-categorys"></span>
                                </div>

                                <div class="col-lg-12">
                                    <label class="drop-container" style="height: 180px">
                                        <input type="file" accept=".jpg, .jpeg, .png"
                                               onchange="previewImage(event, 'imagePreview1', 'drop-title1')"
                                               name="file" id="file-input">
                                        <div class="file-icon"></div>
                                        <div class="drop-title" id="drop-title1">Nhấn để tải ảnh lên...</div>
                                        <div class="image-show">
                                            <img class="image-preview" id="imagePreview1" src="#"
                                                 alt="Image Preview" style="display: none;">
                                        </div>
                                        <span class="text-danger" id="invalid-file-input"></span>
                                    </label>
                                </div>

                                <div class="row d-flex flex-column flex-md-row mt-3">
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-success" type="submit" id="submitted-button">
                                                Thêm mới
                                            </button>
                                            <button type="reset" class="btn btn-primary">Làm mới</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <a href="/admin/danh-muc" class="btn btn-danger" role="button">Trở
                                                về</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>

<script>
    function validateForm() {
        var categoryName = document.getElementById("name-edit-categorys").value;
        var fileInput = document.getElementById("file-input").value;
        var imagePath = document.getElementById("imagePreview1").src;

        if (categoryName === "") {
            toastAlert('error', 'Vui lòng nhập tên danh mục !');
            return false;
        }

        if (fileInput.files.length === 0 && imagePath === "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=") {
            toastAlert('error', 'Vui lòng tải một ảnh !');
            return false;
        }

        Swal.fire({
            title: 'Cảnh báo ?',
            text: "Bạn có chắc chắn muốn xoá không ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý !'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('editForm').submit();
            }
        });

        return false;
    }
</script>
<script src="/admin/assets/js/validation/validation-category-product.js"></script>
</body>
</html>