<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Solar Bách Thịnh - Đổi mật khẩu</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{views/user/lib/link_lib}"></div>
</head>

<body>
<!-- Spinner Start -->
<div th:replace="~{views/user/components/spiner}"></div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div th:replace="~{views/user/components/topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{views/user/components/navbar}"></div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Thay đổi mật khẩu</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/trang-chu">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/dang-nhap">Đăng Nhập</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Login Form Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary">Solar Bách Thịnh</h6>
                    <h1 class="mb-4">Thay đổi mật khẩu</h1>
                    <p class="mb-4">Xin chào, bạn đang muốn đổi mật khẩu cho tài khoản của mình. <br>
                        Điều này rất quan trọng để đảm bảo an toàn và bảo vệ thông tin cá nhân của bạn.
                    </p>
                    <!-- from login -->
                    <div class="login border-end">
                        <div class="login__container">
                            <form id="form-changepass" method="post">
                                <div class="mb-3">
                                    <label for="password0">Mật khẩu hiện tại
                                        <span id="togglePassword0" class="eye-icon"><i
                                                class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password" class="form-control" id="password0"
                                           th:errorclass="is-invalid">
                                    <p id="password0Error" class="invalid-feedback"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="password1">Mật khẩu mới
                                        <span id="togglePassword1" class="eye-icon"><i
                                                class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password" class="form-control" id="password1"
                                           th:errorclass="is-invalid">
                                    <p id="password1Error" class="invalid-feedback"></p>
                                </div>

                                <div class="mb-3">
                                    <label for="password2">Xác nhận mật khẩu mới
                                        <span id="togglePassword2" class="eye-icon"><i
                                                class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password" class="form-control" id="password2"
                                           th:errorclass="is-invalid">
                                    <p id="password2Error" class="invalid-feedback"></p>
                                </div>
                                <button type="button" id="submit-button-changepass" class="signInButton">Xác nhận
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <div class=" d-flex justify-content-center flex-column h-100">
                        <p class="fs-5 mb-2">Tài khoản đăng nhập bằng Gmail lấy mật khẩu ?</p>
                        <a href="/thong-tin" class="mb-3">Nhấn vào đây để xem thông tin cá nhân</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form End -->


<!-- Footer Start -->
<div th:replace="~{views/user/components/footer}"></div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<div th:replace="~{views/user/lib/script_lib}"></div>

<!--validate form login front-end-->
<script src="/user/assets/js/auth/changepass-validate.js"></script>

</body>
</html>