<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Cập Nhật Tài Khoản</title>
    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4 mt-2">Cập nhật thông tin tài khoản</h5>
                    <div class="card">
                        <div class="card-body">
                            <form id="edit-form" onsubmit="return validateForm()" method="post">
                                <input type="hidden" class="form-control" id="id-edit-account">
                                <input type="hidden" class="form-control" id="email-edit-account"
                                       placeholder="name@gmail.com" readonly>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"
                                           id="fullname-edit-account"
                                           placeholder="Họ và tên">
                                    <label for="fullname-edit-account">Họ và tên</label>
                                    <span class="text-danger" id="invalid-full-name"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" maxlength="10"
                                           id="phone-edit-account"
                                           placeholder="Số điện thoại">
                                    <label for="phone-edit-account">Số điện thoại</label>
                                    <span class="text-danger" id="invalid-phone"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="passwords"
                                           id="password-edit-account"
                                           placeholder="Số điện thoại">
                                    <label for="password-edit-account">Mật khẩu</label>
                                    <span class="text-danger" id="invalid-password"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" id="date-edit-account"
                                           placeholder="Số điện thoại" readonly>
                                    <label for="date-edit-account">Ngày đăng ký</label>
                                    <span class="text-danger" id="invalid-date"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="edit-account-type"
                                            aria-label="Floating label select example" name="active-name">
                                        <option selected disabled hidden value="">Vui lòng chọn một trường</option>
                                        <option value="true">Đang hoạt động
                                        </option>
                                        <option value="false">Ngưng hoạt động
                                        </option>
                                    </select>
                                    <label for="edit-account-type">Hoạt động</label>
                                    <span class="text-danger" id="invalid-active"></span>
                                </div>

                                <div class="row d-flex flex-column flex-md-row mt-3">
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-success" type="submit" id="submitted-button">
                                                Cập nhật
                                            </button>
                                            <button class="btn btn-info" type="reset">Làm mới</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <a href="/admin/tai-khoan" class="btn btn-danger" role="button">Trở
                                                về</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>
<script src="/admin/assets/js/validation/validation-account.js"></script>

</body>
</html>