#cart .quantity-input {
    width: 40%;
    height: 35px;
    margin: 0 10px 0 10px;
}

#cart .button-quantity button {
    width: 45px;
    height: 35px;
}

.cart-item .cart-images {
    position: absolute;
    right: 60%;
    transform: translateY(-10%);
}

.cart-item .cart-number {
    position: absolute;
    top: 35%;
    right: 130%;
    transform: translateX(-40%);
}