<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Xác nhận thông tin</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#!/trang-chu">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#!/gio-hang">Giỏ hàng</a></li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#!/xac-nhan-thong-tin">Kiểm tra thông tin</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <section class="h-100" id="cart">
        <div class="container py-5">
            <form id="submit-payment" onsubmit="return confirmPayment()"
                  th:action="@{/gio-hang/xac-nhan-thong-tin}"
                  th:object="${customer}" method="post">
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-7">
                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0">Địa chỉ nhận hàng</h5>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="discountCode" th:value="${discountCode}">
                                <div class="mb-3">
                                    <input type="text" class="form-control" th:value="${session.account.fullname}"
                                           placeholder="Họ và tên" readonly>
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-control" th:value="${session.account.email}"
                                           placeholder="Email" readonly>
                                </div>

                                <div class="mb-3">
                                    <input type="tel" class="form-control" maxlength="10" placeholder="Số điện thoại"
                                           th:value="${session.account.phoneNumber}">
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="city" aria-label="Floating label select example"
                                            th:field="*{province}">
                                        <option th:value="${customer.province}" th:text="${customer.province}" selected>
                                            Chọn Tỉnh Thành
                                        </option>
                                    </select>
                                    <label for="city">Tỉnh Thành</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="district"
                                            aria-label="Floating label select example" th:field="*{district}">
                                        <option th:value="${customer.district}" th:text="${customer.district}" selected>
                                            Chọn Quận/Huyện
                                        </option>
                                    </select>
                                    <label for="district">Quận/Huyện</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="ward" aria-label="Floating label select example"
                                            th:field="*{village}">
                                        <option th:value="${customer.village}" th:text="${customer.village}" selected>
                                            Chọn Phường/Xã
                                        </option>
                                    </select>
                                    <label for="ward">Phường/Xã</label>
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-control" th:field="*{address}"
                                           th:value="${customer.address}" placeholder="Địa chỉ cụ thể">
                                </div>

                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" name="description"
                                              id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Ghi chú</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body  w-100">
                                <p class="d-flex justify-content-center align-items-center"
                                   style="margin-right: 20px"><strong>Hoặc
                                    thanh toán bằng</strong></p>
                                <div class="pay d-flex justify-content-center align-items-center">
                                    <img class="me-2" width="45px"
                                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                         alt="Visa"/>
                                    <img class="me-2" width="45px"
                                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                         alt="American Express"/>
                                    <img class="me-2" width="45px"
                                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                         alt="Mastercard"/>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0"><i class="fa-solid fa-tags"></i>&nbsp;Phiếu giảm giá</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="discountCode"
                                               placeholder="Mã ưu đãi">
                                    </div>
                                    <div class="go-to-pay w-100 d-flex justify-content-center align-items-center">
                                        <button type="button" id="discountForm"
                                                class="btn btn-primary btn-lg btn-block text-center w-100"
                                                th:disabled="${#lists.isEmpty(carts)}">
                                            Áp dụng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0"><i class="fa-solid fa-tags"></i>&nbsp;Đơn hàng của bạn - <span
                                        th:text="${session.cartAmount}"></span> sản phẩm</h5>
                            </div>
                            <div class="card-body">
                                <div class="row" th:each="cart : ${shoppingCarts}">
                                    <div class="col-8 col-md-8 col-lg-9">
                                        <ul class="list-group list-group-flush ps-0">
                                            <li style="font-size: 14px; list-style: none"
                                                th:text="${cart.productsByProductId.productName} + ' - (x' + ${cart.amount} + ')'">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-md-5 col-lg-3 d-flex justify-content-end text-dark">
                                        <ul class="ps-0">
                                            <li style="font-size: 14px; list-style: none"
                                                th:text="${#numbers.formatDecimal(cart.price, 0, 'COMMA', 0, 'POINT').replace(',', '.') + ' ₫'}"></li>
                                        </ul>
                                    </div>
                                    <hr class="my-2"/>
                                </div>

                                <div class="row">
                                    <div class="col-8 col-md-8 col-lg-9">
                                        <ul class="ps-0">
                                            Tạm tính:
                                            <li style="font-size: 14px; list-style: none"></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-md-5 col-lg-3 d-flex justify-content-end text-dark">
                                        <ul class="ps-0">
                                            <li style="font-size: 14px; list-style: none" id="totalPriceDB"
                                                th:text="${#numbers.formatDecimal(totalPricePay, 0, 'COMMA', 0, 'POINT').replace(',', '.') + ' ₫'}"></li>
                                        </ul>
                                    </div>

                                    <div class="col-7 col-md-7 col-lg-9">
                                        <ul class="ps-0">
                                            Giảm giá:
                                            <li style="font-size: 14px; list-style: none"></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-md-5 col-lg-3 d-flex justify-content-end text-dark">
                                        <ul class="ps-0">
                                            <li style="font-size: 14px; list-style: none" id="discount">0 ₫</li>
                                        </ul>
                                    </div>

                                    <div class="col-7 col-md-7 col-lg-9">
                                        <ul class="ps-0">
                                            Tổng tiền:
                                            <li style="font-size: 14px; list-style: none"></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-md-5 col-lg-3 d-flex justify-content-end text-danger">
                                        <ul class="ps-0">
                                            <li style="font-size: 14px; list-style: none" id="totalPricePay"
                                                th:text="${#numbers.formatDecimal(totalPricePay, 0, 'COMMA', 0, 'POINT').replace(',', '.') + ' ₫'}"></li>
                                        </ul>
                                    </div>

                                    <hr class="my-2"/>

                                    <div class="mb-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="categoryPayment"
                                                       value="COD" checked>
                                                Thanh toán khi nhận hàng.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="categoryPayment"
                                                       value="TRANSFER">
                                                Thanh toán thông qua ví VNPAY.
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="go-to-pay w-100 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block text-center w-100">
                                        Đặt hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<!-- Service End -->