/* Cho Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #000000 #F5F5F5;
}

.hidden-text-table {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Cho header admin*/
.notification-container .delete-icon {
    display: none;
}

.notification-container .dropdown-item:hover .delete-icon {
    display: inline-block;
    width: 100%;
    border: 0;
    outline: 0;
}