<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Sản Phẩm</title>

    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary float-end" href="/admin/them-ma" role="button">
                        <i class="ti ti-file-plus"></i>Thêm mã giảm giá
                    </a>
                    <a class="btn btn-primary float-end me-3" href="/admin/ap-dung-giam-gia" role="button">
                        <i class="ti ti-article me-1"></i>Tài khoản đã sử dụng mã
                    </a>
                    <h5 class="card-title fw-semibold mb-4 mt-2">Danh sách mã giảm giá</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="sortDiscountTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Mã</th>
                                        <th scope="col">Giá tiền</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Ngày hết hạn</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="discount, start : ${discountCodes}">
                                        <td th:text="${start.index + 1}"></td>
                                        <td th:text="${discount.discountCode}"></td>
                                        <td th:text="${#numbers.formatDecimal(discount.discountPrice, 0, 'COMMA', 0, 'POINT')}"></td>
                                        <td th:text="${discount.discountValue}"></td>
                                        <td th:text="${#temporals.format(discount.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                                        <td th:text="${#temporals.format(discount.expirationDate, 'dd-MM-yyyy HH:mm')}"></td>
                                        <td th:if="${discount.isActive == 'Đang hoạt động'}">
                                            <i class='bx bxs-circle' style='color:#3a9b54'></i> Đang hoạt động
                                        </td>
                                        <td th:if="${discount.isActive == 'Ngưng hoạt động'}">
                                            <i class='bx bxs-circle' style='color:#c71e1e'></i> Ngưng hoạt động
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-warning ms-2"
                                                   th:href="@{/admin/sua-ma/{discountCode} (discountCode = ${discount.discountCode})}"
                                                   role="button">Sửa</a>
                                                <a class="btn btn-danger ms-2"
                                                   href="javascript:void(0)"
                                                   role="button"
                                                   th:attr="onclick='confirmDelete(\'' + ${discount.discountCode} + '\')'">Xoá</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{views/admin/lib/script_lib}"></div>

<script>
    function confirmDelete(discountCode) {
        Swal.fire({
            title: 'Cảnh báo ?',
            text: "Bạn có chắc chắn muốn xoá mã giảm giá không ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý !'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/admin/xoa-ma/" + discountCode;
            } else {
                return false;
            }
        })
    }
</script>
</body>
</html>